html,
body{
    height: 100%;
    margin: 0px;
    font-size: 16px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
 .pimg3{
    background-image: url(rhino.jpg);
    height: 800px; ;
} 

.pimg2{
    background-image: url(Bihudance.jpg);
    min-height: 850px;
}

.pimg1{
    background-image: url(beauty3.jpg);
    min-height: 850px;
}

 .pimg4{
    background-image: url(flood5.jpg);
    min-height: 850px;
}
.pimg5{
    background-image: url(flood2.jpg);
    min-height: 850px;
}
.pimg6{
    background-image: url(deforestration.jpg);
    min-height: 850px;
}
.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6

{
    
    background-attachment: fixed;
    position: relative;  /*to control position */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.textBg{
    background-color: rgb(219, 183, 183);
    padding: 30px 92px;;
    color: crimson;
    opacity: 0.7;
    
}

.section{
    padding: 50px 80px;
    text-align: center;
    color: rgb(165 42 42);
    
}

.section-light{
    color: #225e13;
    background-color:#c1ddd8;
}
h2{
    text-transform: uppercase;
}
.section-dark{
    color:crimson;
    background-color: #ebcada;
}
